<h2>Select as many interests as you'd like!</h2>

<form class="interestForm">

    {{#each allInterests}}
    <input type="checkbox" class="interest" data-id={{id}} id={{id}} name={{id}} value={{interestName}}>
    <label for={{id}}>{{id}}. {{interestName}}</label><br><br>

    {{/each}}
    
    <br>
    <input type="submit" id="submit" value="Submit">
</form>


<script src="/js/interests.js"></script>
