<h2>Select as many interests as you'd like!</h2>

<form class="interestForm" action="/members">

    {{#each allInterests}}
    <input type="checkbox" class="interest" id={{id}} name={{id}} value={{interestName}}>
    <label for={{id}}>{{id}}. {{interestName}}</label><br><br>

    {{/each}}
    
    <br>
    <input type="submit" value="Submit">
</form>
