<head>
<title>Interests</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="stylesheets/style.css" rel="stylesheet">
</head>

<a class="text-purple-300" id="home" id="home" href="/">Home</a>

<div class="wrapper">
  <div class="box header"><h1 class="font-mono text-6xl text-orange-300 text-center">friendly</h1></div>
  <h2 class="text-center text-green-200 font-sans text-4xl"><span class="member-name"></span>, these users share your interest in {{thisInterest.0.interestName}}:
</h2>
<br>
  <div class="box sidebar"><ul style="list-style-type:none">
  {{#each thisInterest}}
  <li class="old text-gray-300" data-id={{InterestId}} id="{{userEmail}}">
    Email: <a id="email" href="mailto:{{userEmail}}">{{userEmail}}</a>
    <br>
    Phone: <a>{{userPhone}}</a>
  </li>
  {{/each}}
</ul></div>
<div class="box sidebar2"><p class="response text-purple-300"></p></div>
  <div class="box content inset-y-0.right-0">
  <h2 class="font-mono text-purple-300">send SMS message</h2>
  <input type="tel" name="number" id="number" placeholder="Enter Phone Number...">
  <input type="text" name="msg" id="msg" placeholder="Enter Text Message...">
  <input type="button" id="button" value="Send Text" class="button button-primary">
  

</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

<script src="/js/single-interests.js"></script>
<script src="/js/message.js"></script>